@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,900;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
}

.removeBook {
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  background-color: red;
  padding: 5px 8px;
  text-decoration: none;
  color: white;
}